@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cor01: hsl(47, 88%, 63%);
    --cor02: hsl(0, 0%, 100%);
    --cor03: hsl(0, 0%, 42%);
    --cor04: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor01);
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.card {
    background-color: var(--cor02);
    box-shadow: 10px 10px 0px hsl(0, 0%, 7%);
    max-width: 400px;
    padding-top: 30px;
    border-radius: 20px;
    border: 2px solid black;
}

.card-img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.tag  {
    display: block;
    background-color: var(--cor01);
    text-align: left;
    font-weight: bold;
    width: 86px;
    padding: 6px 12px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}

time {
    display: block;
    text-align: left;
    padding-left: 30px;
}

h1 {
    color: var(--cor04);
    font-weight: 800;
    font-size: 25px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

h1:hover {
    color: var(--cor01);
}


.card p {
    text-align: left;
    padding-left: 30px;
}

.descricao {
    color: var(--cor03);
}

.avatar {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.avatar strong {
    font-size: 15px;
    font-weight: 800;
    padding-left: 10px;
}